<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"/>

<body>
<div th:replace="common/header :: navbar"/>

<div class="container">
    <div class="row" style="margin-bottom: -30px;">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <h2 class="section-headline">
                    <span th:text="${#strings.toUpperCase(user.username)}"></span>
                </h2>
            </h2>
        </div>
        <div class="col-xs-4">
            
        </div>
    </div>
    <hr
       

    <div class="row" style="margin-top: 60px;">
        <div class="col-xs-9 col-xs-offset-3">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li th:classappend="${classActiveEdit}? 'active'"><a
                        href="#tab-1" data-toggle="tab"><span style="color: red;">Editar</span></a></li>
                <li th:classappend="${classActiveOrders}? 'active'"><a
                        href="#tab-2" data-toggle="tab"><span style="color: red;">Pedido</span></a></li>
                <li th:classappend="${classActiveBilling}? 'active'"><a
                        href="#tab-3" data-toggle="tab"><span style="color: red;">Carteira</span></a></li>
                <li th:classappend="${classActiveShipping}? 'active'"><a
                        href="#tab-4" data-toggle="tab"><span style="color: red;">Envio</span></a></li>
            </ul>

            <!-- Tab panels -->
            <div class="tab-content">

                <!-- Edit user information -->
                <div class="tab-pane fade" id="tab-1"
                     th:classappend="${classActiveEdit}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body"
                                 style="background-color: #ededed; margin-top: 20px;">
                                <form th:action="@{/updateUserInfo}" method="post">
                                    <input type="hidden" name="id" th:value="${user.id}" />

                                    <div class="bg-info" th:if="${updateUserInfo}">Informaçoes do usuário atualizadas.
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label for="firstName">Primeiro Nome</label> <input
                                                    type="text" class="form-control" id="firstName"
                                                    name="firstName" th:value="${user.firstName}"/>
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="lastName">Último Nome</label> <input type="text"
                                                                                               class="form-control"
                                                                                               id="lastName"
                                                                                               name="lastName"
                                                                                               th:value="${user.lastName}"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="userName">Username</label> ' <input type="text"
                                                                                        class="form-control"
                                                                                        id="userName" name="username"
                                                                                        th:value="${user.username}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="currentPassword">Senha atual</label> ' <input
                                            type="text" class="form-control" id="currentPassword"
                                            name="currentPassword" th:value="${currentPassword}"/>
                                    </div>
                                    <p style="color: #828282">Entre com a senha atual para mudar endereço de email ou senha</p>

                                    <div class="form-group">
                                        <label for="email">* Email</label> ' <input
                                            type="text" class="form-control" id="email" name="email"
                                            th:value="${user.email}"/>
                                    </div>
                                    <p style="color: #828282">Um endereço de email válido. Todos os emails do sistema
												serão enviados para este endereço. O endereço de email não é tornado público e só será usado se você desejar
												receber uma nova senha ou notificação.</p>

                                    <div class="form-group">
                                        <label for="txtNewPassword">Senha</label> ' <input
                                            type="password" class="form-control" id="txtNewPassword"
                                            name="newPassword"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="txtConfirmPassword">Confirme a senha</label> ' <input
                                            type="password" class="form-control" id="txtConfirmPassword"/>
                                    </div>
                                    <p style="color: #828282">Para musar senha do usuário atual, entre com a senha em ambos os campos.</p>

                                    <button type="submit" class="btn btn-primary">Criar conta.
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

				<!-- Order Information -->
                <div class="tab-pane fade" id="tab-2"
                     th:classappend="${classActiveOrder}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body"
                                 style="background-color: #ededed; margin-top: 20px;">
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Billing Information -->
                <div class="tab-pane fade" id="tab-3"
                     th:classappend="${classActiveBilling}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body"
                                 style="background-color: #ededed; margin-top: 20px;">
                                <ol class="breadcrumb">
                                	<li class="breadcrumb-item active">
                                		<a th:href="@{/listOfCreditCards}" th:style="${listOfCreditCards}? 'color:red'">Lista de Cartões</a>
                                	</li>
                                	<li class="breadcrumb-item active">
                                		<a th:href="@{/addNewCreditCard}" th:style="${addNewCreditCard}? 'color:red'">Add(Atualizar) Cartão de Crédito</a>
                                	</li>
                                </ol>
                                
                                <div th:if="${listOfCreditCards}">
                                	<form th:action="@{/setDefaultPayment}" method="post">
                                		<table class="table">
                                			<thead>
                                				<tr>
                                					<th>Padrão</th>
                                					<th>Cartão de Crédito</th>
                                					<th>Operaçoes</th>
                                				</tr>
                                			</thead>
                                			<tbody>
                                				<tr th:each="userPayment : ${userPaymentList}">
                                				<td>
                                					<input type="radio" name="defaultUserPaymentId" th:value="${userPayment.id}" th:checked="${userPayment.defaultPayment}" />
                                				</td>
                                				<td th:text="${userPayment.cardName}"></td>
                                				<td>
                                					<a th:href="@{/updateCreditCard(id=${userPayment.id})}"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
                                					<a th:href="@{/removeCreditCard(id=${userPayment.id})}"><i class="fa fa-times"></i></a>
                                				</td>
                                				</tr>
                                			</tbody>
                                		</table>
                                		<button class="btn btn-primary" type="submit">Salvar</button>
                                	</form>
                                </div>
                                
                                <div th:if="${addNewCreditCard}">
										<form th:action="@{addNewCreditCard}" method="post">
											<div class="bg-info" th:if="${updateUserPaymentInfo}">Informações de
												usuário atualizadas.</div>

											<input hidden="hidden" name="id" th:value="${userPayment.id}" />

											<div class="form-group">
												<h5>* Nome do cartão:</h5>
												<input type="text" class="form-control" id="cardName"
													placeholder="Nome do cartão" th:name="cardName"
													required="required" th:value="${userPayment.cardName}" />
											</div>

											<!-- Billing Address -->
											<hr />
											<div class="form-group">
												<h4>Endereço para envio</h4>
											</div>
											<div class="form-group">
												<label for="billingName">* Nome</label> <input type="text"
													class="form-control" id="billingName"
													placeholder="Nome" th:name="userBillingName"
													required="required"
													th:value="${userBilling.userBillingName}" />
											</div>
											<div class="form-group">
												<label for="billingAddress">* Endereço</label> <input
													type="text" class="form-control" id="billingAddress"
													placeholder="Endereço 1" th:name="userBillingStreet1"
													required="required"
													th:value="${userBilling.userBillingStreet1}" /> <input
													type="text" class="form-control" id="billingAddress"
													placeholder="Endereço 2" th:name="userBillingStreet2"
													th:value="${userBilling.userBillingStreet2}" />
											</div>

											<div class="row">
												<div class="col-xs-4">
													<div class="form-group">
														<label for="billingCity">* Cidade</label> <input type="text"
															class="form-control" id="billingCity"
															placeholder="Cidade" th:name="userBillingCity"
															required="required"
															th:value="${userBilling.userBillingCity}" />
													</div>
												</div>
												<div class="col-xs-4">
													<div class="form-group">
														<label for="billingState">* Estado</label> <select
															id="billingState" class="form-control"
															th:name="userBillingState"
															th:value="${userBilling.userBillingState}"
															required="required">
															<option value="" disabled="disabled">Por favor,
																selecione uma opção</option>
															<option th:each="state : ${stateList}" th:text="${state}"
																th:selected="(${userBilling.userBillingState}==${state})"></option>
														</select>
													</div>
												</div>
												<div class="col-xs-4">
													<div class="form-group">
														<label for="billingZipcode">* CEP</label> <input
															type="text" class="form-control" id="billingZipcode"
															placeholder="74420-180" th:name="userBillingZipcode"
															required="required"
															th:value="${userBilling.userBillingZipcode}" />
													</div>
												</div>
											</div>
											
											<!-- Credit Card Information -->
											<hr />
											<div class="form-group">
												<h4>Informações do cartão</h4>
											</div>
											<div class="row">
												<div class="col-xs-12">
													<img src="/image/creditcard.png" class="img-responsive" /><br />
													<div class="form-group">
														<label for="cardType">* Selecione a bandeira:</label>
														<select class="form-control" id="cardType" th:name="type" th:value="${userPayment.type}">
															<option value="visa">Visa</option>
															<option value="mastercard">Mastercard</option>
															<option value="discover">Discover</option>
															<option value="amex">American Express</option>
														</select>
													</div>
													<div class="form-group">
														<label for="cardHolder">* Nome no cartão:</label>
														<input type="text" class="form-control" id="cardHolder" required="required"
														placeholder = "Nome no cartão" th:name="holderName" th:value="${userPayment.holderName}"/>
													</div>
													<div class="form-group">
														<label for="cardNumber">* Número do cartão:</label>
														<div class="input-group">
															<input type="tel" class="form-control" id="cardNumber" required="required"
														placeholder = "Número do cartão" th:name="cardNumber" th:value="${userPayment.cardNumber}"/>
														<span class="input-group-addon"><i class="fa fa-credit-card" aria-hidden="true"></i></span>
														</div>
													</div>
												</div>
											</div>
											
											<div class="row">
												<div class="col-xs-7">
													<div class="form-group">
														<label>* Validdade</label>
														<div class="row">
															<div class="col-xs-6">
																<select class="form-control" name="expiryMonth" required="required"
																th:value="${userPayment.expiryMonth}">
																	<option disabled="disabled">-- Mês --</option>
																	<option value="01">Jan (01)</option>
																	<option value="02">Fev (02)</option>
																	<option value="03">Mar (03)</option>
																	<option value="04">Abr (04)</option>
																	<option value="05">Mai (05)</option>
																	<option value="06">Jun (06)</option>
																	<option value="07">Jul (07)</option>
																	<option value="08">Ago (08)</option>
																	<option value="09">Set (09)</option>
																	<option value="10">Out (10)</option>
																	<option value="11">Nov (11)</option>
																	<option value="12">Dez (12)</option>
																</select>
															</div>
															<div class="col-xs-6">
																<select class="form-control" name="expiryYear" th:value="${userPayment.expiryYear}">
																<option disabled="disabled">-- Ano --</option>
																<option value="23">2023</option>
																<option value="24">2024</option>
																<option value="25">2025</option>
																<option value="26">2026</option>
																<option value="27">2027</option>
																<option value="28">2028</option>
																<option value="29">2029</option>
																<option value="30">2030</option>
                                                                </select>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xs-5">
													<div class="form-group">
														<label for="cardCVC">CVV</label>
														<input id="cardCVC" type="tel" class="form-control" name="cvc" 
														placeholder="CVV" th:name="cvc" th:value="${userPayment.cvc}" />
													</div>
												</div>
											</div>
											<hr/>
											<button type="submit" class="btn btn-primary btn-lg">Salvar</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Shipping Information -->
					<div class="tab-pane fade" id="tab-4"
						th:classappend="${classActiveShipping}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">

									<ol class="breadcrumb">
										<li class="breadcrumb-item active"><a
											th:href="@{/listOfShippingAddresses}"
											th:style="${listOfShippingAddresses}? 'color:red'">Lista de
												endereços para envio</a></li>
										<li class="breadcrumb-item active"><a
											th:href="@{/addNewShippingAddress}"
											th:style="${addNewShippingAddress}? 'color:red'">Add(Atualizar)
												endereço para envio</a></li>
									</ol>

									<div th:if="${listOfShippingAddresses}">
										<form th:action="@{/setDefaultShippingAddress}" method="post">
											<table class="table">
												<thead>
													<tr>
														<th>Padrão</th>
														<th>Endereço para envio</th>
														<th>Operações</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="userShipping : ${userShippingList}">
														<td><input type="radio" name="defaultShippingAddressId"
															th:value="${userShipping.id}"
															th:checked="${userShipping.userShippingDefault}" /><span>padrão</span></td>
														<td th:text="${userShipping.userShippingStreet1}+', '+
														${userShipping.userShippingCity}+', '+${userShipping.userShippingState}"></td>
														<td><a
															th:href="@{/updateUserShipping(id=${userShipping.id})}"><i
																class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a
															th:href="@{/removeUserShipping(id=${userShipping.id})}"><i
																class="fa fa-times"></i></a></td>
													</tr>
												</tbody>
											</table>
											<button class="btn btn-primary" type="submit">Salvar</button>
										</form>
									</div>

									<div th:if="${addNewShippingAddress}">
										<form th:action="@{/addNewShippingAddress}" method="post">
											<div class="bg-info" th:if="${updateUserShippingInfo}">Informações de
												usuário atualizadas.</div>

											<input hidden="hidden" name="id" th:value="${userShipping.id}" />

											<!-- Shipping Address -->
											<hr />
											<div class="form-group">
												<h4>Endereço para envio</h4>
											</div>
											<div class="form-group">
												<label for="shippingName">* Nome</label> <input type="text"
													class="form-control" id="shippingName"
													placeholder="Receiver Name" th:name="userShippingName"
													required="required"
													th:value="${userShipping.userShippingName}" />
											</div>
											<div class="form-group">
												<label for="shippingAddress">* Endereço</label> <input
													type="text" class="form-control" id="shippingAddress"
													placeholder="Endereço 1" th:name="userShippingStreet1"
													required="required"
													th:value="${userShipping.userShippingStreet1}" /> <input
													type="text" class="form-control"
													placeholder="Endereço 2" th:name="userShppingStreet2"
													th:value="${userShipping.userShippingStreet2}" />
											</div>

											<div class="row">
												<div class="col-xs-4">
													<div class="form-group">
														<label for="shippingCity">* Cidade</label> <input type="text"
															class="form-control" id="shippingCity"
															placeholder="Cidade" th:name="userShippingCity"
															required="required"
															th:value="${userShipping.userShippingCity}" />
													</div>
												</div>
												<div class="col-xs-4">
													<div class="form-group">
														<label for="shippingState">* Estado</label> <select
															id="shippingState" class="form-control"
															th:name="userShippingState"
															th:value="${userShipping.userShippingState}"
															required="required">
															<option value="" disabled="disabled">Por favor,
																selecione uma opção</option>
															<option th:each="state : ${stateList}" th:text="${state}"
																th:selected="(${userShipping.userShippingState}==${state})"></option>
														</select>
													</div>
												</div>
												<div class="col-xs-4">
													<div class="form-group">
														<label for="shippingZipcode">* CEP</label> <input
															type="text" class="form-control" id="shippingZipcode"
															placeholder="74420-180"
															th:name="userShippingZipcode" required="required"
															th:value="${userShipping.userShippingZipcode}" />
													</div>
												</div>
											</div>

											<hr />
											<button type="submit" class="btn btn-primary btn-lg">Salvar
												</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- end of container -->


<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>
